@use '@styles/abstracts/variables' as *;
@use '@styles/abstracts/colors' as *;
@use '@styles/abstracts/breakpoints' as *;


.form_auth {
    :global {
        .ant-form-item {
            margin-bottom: 32px;
        }
        .ant-form-item-explain-error {
            color: $character-light-error;
            font-size: 12px;
            margin: 0 0 14px;
        }

        .ant-input-group {
            .ant-input {
                height: 40px;
            }
        }

        .ant-input-password {
            height: 40px;
        }
    }
}

.form_buttons {
    width: 100%;

    :global {
        .ant-btn {

            @include sm_max {
                font-size: 14px;
            }
        }

        .anticon {
            @include sm_max {
                display: none;
            }
        }

        .ant-btn > .anticon + span {
            @include sm_max {
                margin-left: 0;
            }
        }

        .ant-btn-primary {
            border-color: $primary-light-6;
            background: $primary-light-6;

            span {
                color: $character-light-primary-inverse;
            }
        }

    }
}

.form_check_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    :global {
        .ant-btn {
            padding: 2px 0;
            font-size: 16px;
            color: $primary-light-6;

            &.ant-btn-link > span {
                color: $primary-light-6;
           }

            @include sm_max {
                padding-right: 7px;
                font-size: 14px;
            }
        }


    }
}

img .form_svg_google {
    margin: 0 8px;
}

.help {
    color: $character-light-error;
    font-size: 12px;
    margin: 0 0 14px;
}
