$sm_max: 576px;
$md_max: 768px;
$lg_max: 1200px;

@mixin lg_max {
    @media only screen and (max-width: $lg_max) {
      @content;
    }
  }

@mixin md_max {
    @media only screen and (max-width: $md_max) {
      @content;
    }
  }


  @mixin sm_max {
    @media only screen and (max-width: $sm_max) {
      @content;
    }
  }
