@use '@styles/abstracts/variables' as *;
@use '@styles/abstracts/colors' as *;
@use '@styles/abstracts/breakpoints' as *;

:global {
    div.ant-card.main_text_card {
        background: none;
        padding: 0 $padding-l;
        margin-top: $margin-l;

        .ant-card-body {
            max-width: 752px;
            background: $character-light-primary-inverse;
            box-shadow: $shadow-b;

            p {
                font-family: $font-family;
                font-size: 16px;
                font-weight: 400;
                line-height: 130%;
                color: $primary-light-9;
                letter-spacing: 0.42px;
                text-align: start;
                margin: 0;
            }
        }
    }

    div.ant-card.main_text_promo {
        background: none;
        padding: 0 $padding-l;

        min-height: 126px;
        margin-top: $margin-l;
        margin-bottom: $margin-m;

        .ant-card-body {
            max-width: 752px;
            background: $character-light-primary-inverse;
            box-shadow: $shadow-b;

            p {
                font-family: $font-family;
                font-size: 20px;
                font-weight: 500;
                line-height: 130%;
                color: $character-light-title-85;
                text-align: start;
                margin: 0;
                letter-spacing: 0.6px;
            }
        }
    }

    div.cards_block {
        // padding: 0 $padding-l;
        margin: 24px;
        max-width: 752px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
        @include sm_max {
            flex-direction: column;
        }
        .cards_btn {
            padding: 0;
            width: 240px;
            font-family: $font-family;
            font-size: 16px;
            font-weight: 400;
            line-height: 130%;
            color: $character-light-title-85;
            @include sm_max {
                width: 100%;
                align-content: center;
            }
            .ant-btn-text {
                font-family: $font-family;
                font-size: 14px;
                font-weight: 400;
                line-height: 130%;
                align-content: center;
                & svg {
                    width: 15px;
                    height: auto;

                    & path {
                        fill: $primary-light-6;
                    }
                }

                & span {
                    color: $primary-light-6;
                }
            }

            & .ant-card-head {
                height: 45px;
                @include sm_max {
                    height: 66px;
                    // font-size: 12px;
                }
                & .ant-card-head-title {
                    white-space: pre-line;
                    align-content: center;
                }
            }

            & .ant-card-body {
                height: 56px;
                padding: 12px;
            }
        }
    }
}

.main_content {
    max-width: 752px;
    margin: 24px;
}
