@use '@styles/abstracts/variables' as *;
@use '@styles/abstracts/colors' as *;
@use '@styles/abstracts/breakpoints' as *;

.main_footer {
    display: flex;
    margin: 24px;
    padding: 0 24px;
    justify-content: space-between;
    align-items: flex-end;

    & button.footer_review {
        margin-left: 24px;
        border-radius: 2px;
        height: 40px;
        width: 171px;
        text-align: center;
        font-family: $font-family;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;

        & span {
            color: $primary-light-6;
        }
        @include md_max {
            margin: 24px 16px 42px;
            height: 20px;
            width: calc(100% - 32px);
        }
    }

    & .footer_card {
        max-width: 300px;
        width: 100%;
        border-radius: 2px;
        box-shadow: $shadow-c;
        background: $character-light-primary-inverse;
        & .ant-card-body {
            padding: 12px;
        }
        @include md_max {
            margin: 16px;
            max-width: 100%;
        }
    }

    & .card_title {
        margin-bottom: 8px;
        font-family: $font-family;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        color: $primary-light-6;
        text-align: center;
    }

    & .card_text {
        margin-bottom: 12px;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        color: $character-light-secondary-45;
        text-align: center;
    }

    .card_fone {
        margin-top: 12px;
        padding-top: 10px;
        display: flex;
        border-top: 0.1px solid rgb(244, 238, 238);
        @include md_max {
            display: block;
        }

        button {
            font-family: $font-family;
            font-size: 14px;
            font-weight: 400;
            line-height: 130%;
            color: $character-light-title-85;
        }
    }
}

@include md_max {
    .main_footer {
        flex-direction: column-reverse;
        align-items: center;
        gap: 24px;
        padding: 0 24px;
        margin-top: 0;
    }
}
