@use '@styles/abstracts/colors' as *;
@use '@styles/abstracts/variables' as *;

.ant-layout {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    & *,
    & .ant-typography {
        color: $character-light-title-85;
        font-family: $font-family;
        line-height: $font-line-height; //1.3
    }
}

#root {
    display: flex;
    // align-items: center;
    justify-content: center;
    height: 100vh;
    // background-color: #725555;
}

body {
    font-family: $second-family ;
    max-width: $screen-xxl;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

