@use '@styles/abstracts/variables' as *;
@use '@styles/abstracts/colors' as *;

:global {
    .ant-layout-header {
        padding: $padding-m $padding-l;
        height: inherit;
        line-height: $font-line-height;
        background: $primary-light-1;

        .ant-typography + h1.ant-typography {
            margin-top: 0;
        }
    }
    .ant-space-align-center {
        align-items: start;
    }
    .ant-breadcrumb {
        line-height: $font-line-height;
    }
    .ant-layout-content {
        flex: auto;
        min-height: 0;
    }
}

.main_container,
.auth_container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: $screen-xxl;
}

.main_container {
    align-items: start;
}

.main_content {
    min-height: 100vh;
    background: #363950 url('@public/assets/images/bg-mp-light.jpg') no-repeat center/cover;
}

.auth_container_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #363950 url('@public/assets/images/bg-lp-light.jpg') no-repeat center/cover;

    &__mask {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(121, 156, 212, 0.5);
        padding: 0 16px;
    }
}
